/*layout for grid */
.grid-container {
    display: grid;
    gap: 10px;
    width: 75%;
  }

  .image{
      padding-top: 15px;
      padding-bottom: 10px;
      grid-row: 1;
      grid-column: 1;
      
  }

  .introduction{
      grid-column: 2;
      grid-row: 1;
  }

  .ingredients{
      grid-row: 2;
      grid-column: 1/ span 2;
      text-align: center;
  }

  .istock{
      grid-row:3;
  }


  .istew{
      grid-row: 3;
    }

    .directions{
        grid-column: 1/ span 2;
        grid-row: 5;
        text-align: center;
    }

    .stock{grid-row: 6; }

    .stew{grid-row: 6;}

    footer{grid-row: 7;}

    /*layout*/
    body{
        background-color: #fcf3e4;
        color: #283044;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 19.20px;
        background-image: url(img/pattern.png);
    }

    p{background-color: #fcf3e4;}

    img{
        width: 50%;
    }

    /*typography*/
    h1{
        color: #6F1A07;
        font-weight: 900;
        font-size: 2.488rem;
        background-color: #fcf3e4;
    }

    h2{
        color: #6F1A07;
        font-weight: 700;
        font-size: 2.074rem;
        background-color: #fcf3e4;
    }

    h3{
        color: #6F1A07;
        font-weight: 600;
        font-size: 1.728rem;
        background-color: #fcf3e4;
    }

    b{
        font-weight: 800;
        font-size: 1.3rem;
        background-color: #fcf3e4;
    }

    i{
        font-weight: 500;
        background-color: #fcf3e4;
    }

    ul{background-color: #fcf3e4;}

    ol{background-color: #fcf3e4;}

    /*-----media queries-----*/
    /*desktop*/
    @media only screen and (max-width: 2000px){
        .grid-container{padding-left: 175px;}
    }

@media only screen and (max-width: 1250px) { 
    .grid-container{padding: 50px;}      
body {background-color: #fcf3e4;}
.image{width: 1000px;grid-column: 1;}
.introduction{grid-column: 1; grid-row: 2;}
.ingredients{grid-column: 1; grid-row: 3;}
.istock{grid-column: 1; grid-row: 4;}
.istew{grid-column: 1;grid-row: 5;}
.directions{grid-column: 1;grid-row: 6;}
.stock{grid-column: 1; grid-row: 7;}
.stew{grid-column: 1;grid-row: 8;}
footer {grid-row: 9; grid-column: 1;}
}

    /*mobile*/
    @media only screen and (max-width: 425px) {
        .grid-container{padding: 20px;}
       body {background-color: #fcf3e4; width: 100%;}
       .image {width: 100%; grid-column: 1;}
       .introduction{grid-column: 1; grid-row: 2; text-align: center;}
       .ingredients{grid-column: 1; grid-row: 3; text-align: center;}
       .istock{grid-column: 1; grid-row: 4;}
       .istew{grid-column: 1;grid-row: 5;}
       .directions{grid-column: 1;grid-row: 6;}
       .stock{grid-column: 1; grid-row: 7;}
       .stew{grid-column: 1;grid-row: 8;}
       footer {grid-row: 9; grid-column: 1;}
    }